body {
  background-color: rgb(71, 223, 255);
  font-family: 'Roboto', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}

header {
  background-color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emblem {
  width: 80%;
}

nav {
  background-color: rgb(255, 71, 73);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  flex: 1 1 auto;
  display: block;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(240, 248, 255);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: bold;
}

main, .herocontainer {
  background-color: rgb(240, 248, 255);
}

main.contact {
  padding: 1rem;
}

.active {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.25rem;
}

.required {
  font-size: 2rem;
  color: red;
}

h1 {
  color: rgb(240, 248, 255);
  font-family: 'Playfair Display', serif;
  margin: 0.5rem 0;
  padding: 1rem 0;
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem 0;
  margin: 0;
}

p {
  color: black;
  margin: 0;
  text-align: left;
  padding: 0.5rem 1.5rem;
}

.heroimage {
  width: 100%;
}

article img {
  width: 35%;
  float: left;
  margin: 1rem 1rem 1rem 1.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgb(64, 64, 64);
  border-radius: 0.5rem;
}

article {
  padding-bottom: 1rem;
}

footer {
  padding: 1rem;
}

footer p {
  text-align: center;
}

form fieldset {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  background-color: rgb(240, 248, 255);
  border: 1px solid black;
  border-radius: 5px;
}

legend {
  font-size: 1rem;
  background-color: rgb(240, 248, 255);
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px;
  padding: 0.25rem;
}

form label.top,
form div label {
  display: block;
  padding: 0.75rem 0;

}

form label.top input,
form label.top select,
form label.top textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 0.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

input[type=radio] {
  width: 25px;
  height: 25px;
}

form button.submit {
  display: block;
  padding: 0.75rem;
  color: black;
  background-color: rgb(71, 223, 255);
  border: 3px solid black;
  border-radius: 1rem;
  margin: 1rem 13rem;
  font-size: 1.1rem;
}

form button.submit:hover {
  background-color: green;
  font-size: 1.25rem;
}

form label.top :required {
  border: 2px solid rgb(255, 0, 0);
}

form label.top :required:valid {
  border: 2px solid rgb(0, 128, 0);
}

.thanks {
  display: block;
}